.home {
    min-height: 92.5vh;
    background: linear-gradient(rgba(255, 255, 255, 0.363), rgba(0, 0, 0, 0.1)),
    url("../../src/assets/images/imageninsti.jpg") center/cover no-repeat; 
}

.welcome {
    text-align: center;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.welcome h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.welcome p {
    font-size: 24px;
    text-align: justify;
}